<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("header-page.title-name"), "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("title-home"), Settings.webpage.link1 %></li>
        <li><%= link_to t("title-help"), "#" %></li>
        <li><%= link_to t("header-page.tittle-login"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
